/* style.css */

body {
    text-align: center;
}

.signup-form {
    display: inline-block;
    text-align: left;
}

table {
    margin: 0 auto; /* Center the table */
}

td {
    text-align: center;
    padding: 10px;
}

.bg-dark {
    background-color: #343a40; /* Dark background color */
    color: white; /* Text color */
}

.bg-warning {
    background-color: #ffc107; /* Warning (yellow) background color */
    color: #212529; /* Text color */
}

.submit-btn {
    background-color: #ffc107;
    color: #212529;
    padding: 10px;
    border: none;
    cursor: pointer;
}
